.RO__portfolio {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    top: 225rem;
    overflow: hidden;
    background-color: rbg(10 10 10);
    display: grid;
    position: absolute;
    place-items: center;
}

.RO__portfolio-content {
    aspect-ratio: 1.618;
    width: 90vmin;
    position: relative;
}

.RO__portfolio-content > .RO__portfolio-content_shape {
    height: 30%;
    width: 30%;
    background-color: rgba(255, 255, 255 / 5%);
    position: absolute;
    transition: left, top, height, width, border-radius;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
}

.RO__portfolio-content > .RO__portfolio-content_shape:nth-child(1) {
    background-color: #000000;
}
.RO__portfolio-content > .RO__portfolio-content_shape:nth-child(2) {
    background-color: #009FE3;
}
.RO__portfolio-content > .RO__portfolio-content_shape:nth-child(3) {
    background-color: #A0D9F6;
}
.RO__portfolio-content > .RO__portfolio-content_shape:nth-child(4) {
    background-color: #FF4C4C;
}
.RO__portfolio-content > .RO__portfolio-content_shape:nth-child(5) {
    background-color: #D9D9D9;
}
.RO__portfolio-content > .RO__portfolio-content_shape:nth-child(6) {
    background-color: #E2CD12;
}
.RO__portfolio-content > .RO__portfolio-content_shape:nth-child(7) {
    background-color: #1CD518;
}

.RO__portfolio-content[data-configuration="1"] > .RO__portfolio-content_shape:nth-child(1) {
    left: 0%;
    top: 0%;
    height: 100%;
    width: 45%;
}
.RO__portfolio-content[data-configuration="1"] > .RO__portfolio-content_shape:nth-child(2) {
    left: 15%;
    top: 50%;
    height: 50%;
    width: 30%;
}
.RO__portfolio-content[data-configuration="1"] > .RO__portfolio-content_shape:nth-child(3) {
    left: 30%;
    top: 75%;
    height: 25%;
    width: 15%;
}
.RO__portfolio-content[data-configuration="1"] > .RO__portfolio-content_shape:nth-child(4) {
    left: 45%;
    top: 0%;
    height: 50%;
    width: 32%;
}
.RO__portfolio-content[data-configuration="1"] > .RO__portfolio-content_shape:nth-child(5) {
    left: 45%;
    top: 50%;
    height: 50%;
    width: 40%;
}
.RO__portfolio-content[data-configuration="1"] > .RO__portfolio-content_shape:nth-child(6) {
    left: 77%;
    top: 0%;
    height: 50%;
    width: 23%;
}
.RO__portfolio-content[data-configuration="1"] > .RO__portfolio-content_shape:nth-child(7) {
    left: 85%;
    top: 50%;
    height: 50%;
    width: 15%;
}

.RO__portfolio-content[data-configuration="2"] > .RO__portfolio-content_shape:nth-child(1) {
    left: 80%;
    top: 0%;
    height: 100%;
    width: 20%;
}
.RO__portfolio-content[data-configuration="2"] > .RO__portfolio-content_shape:nth-child(2) {
    left: 0%;
    top: 0%;
    height: 80%;
    width: 15%;
}
.RO__portfolio-content[data-configuration="2"] > .RO__portfolio-content_shape:nth-child(3) {
    left: 30%;
    top: 40%;
    height: 30%;
    width: 10%;
}
.RO__portfolio-content[data-configuration="2"] > .RO__portfolio-content_shape:nth-child(4) {
    left: 65%;
    top: 10%;
    height: 70%;
    width: 15%;
}
.RO__portfolio-content[data-configuration="2"] > .RO__portfolio-content_shape:nth-child(5) {
    left: 40%;
    top: 50%;
    height: 50%;
    width: 10%;
}
.RO__portfolio-content[data-configuration="2"] > .RO__portfolio-content_shape:nth-child(6) {
    left: 50%;
    top: 40%;
    height: 50%;
    width: 15%;
}
.RO__portfolio-content[data-configuration="2"] > .RO__portfolio-content_shape:nth-child(7) {
    left: 15%;
    top: 30%;
    height: 60%;
    width: 15%;
}

.RO__portfolio-content[data-roundness="1"] > .RO__portfolio-content_shape:nth-child(1){
    border-top-right-radius: 300px;
}
.RO__portfolio-content[data-roundness="1"] > .RO__portfolio-content_shape:nth-child(2){
    border-radius: 0px 150px 0px 0px;
}
.RO__portfolio-content[data-roundness="1"] > .RO__portfolio-content_shape:nth-child(3){
    border-radius: 90px 0px 0px 0px;
}
.RO__portfolio-content[data-roundness="1"] > .RO__portfolio-content_shape:nth-child(4){
    border-radius: 100%;
}
.RO__portfolio-content[data-roundness="1"] > .RO__portfolio-content_shape:nth-child(5){
    border-radius: 30% 30% 0 0;
}
.RO__portfolio-content[data-roundness="1"] > .RO__portfolio-content_shape:nth-child(6){
    border-radius: 0 0 150px 150px;
}
.RO__portfolio-content[data-roundness="1"] > .RO__portfolio-content_shape:nth-child(7){
    border-radius: 150px 0 0 0;
}

.RO__portfolio-content[data-roundness="2"] > .RO__portfolio-content_shape{
    border-radius: 0%;
}
.RO__portfolio-content[data-roundness="3"] > .RO__portfolio-content_shape{
    border-radius: 6rem;
}

@media screen and (max-width: 800px){
    .RO__portfolio{
        top: 205rem;
    }
}