.RO__services{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    padding: 3rem;
    padding-top: 12rem;
}

.RO__services-title{
    width: 100%;
    margin: 3rem;
    padding-left: 20%;
}

.RO__services-title h1{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
}

.RO__services-content{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 980px;
    margin-left: 10%;
    margin-right: 10%;
}

.RO__services-content_cats{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 42.5%;
}

.RO__services-content_cats-DataAnalysis,
.RO__services-content_cats-WebDev,
.RO__services-content_cats-BS{
    margin-bottom: 3rem;
}

.RO__services-content_cats-DataAnalysis_title,
.RO__services-content_cats-WebDev_title,
.RO__services-content_cats-BS_title{
    margin-bottom: 2rem;
} 

.RO__services-content_cats-DataAnalysis_title h2,
.RO__services-content_cats-WebDev_title h2,
.RO__services-content_cats-BS_title h2{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
} 

.RO__services-content_cats-DataAnalysis_content p,
.RO__services-content_cats-WebDev_content p,
.RO__services-content_cats-BS_content p{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    text-justify: inter-word;
}

.RO__services-content_cats-DataAnalysis_bar,
.RO__services-content_cat-WebDev_bar,
.RO__services-content_cats-BS_bar{
    width: 100%;
    height: 0px;
    border: 3px solid #A39E9E;
    margin-top: 33px;
}

.RO__services-content_img{
    align-self: center;
}

@media screen and (max-width: 1300px){
    .RO__services-content_img{
        display: none;
    }
    .RO__services-content_cats{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .RO__services{
        top: 130rem;
    }
    .RO__services-title{
        margin-bottom: 1.5rem;
    }
    .RO__services-title h1{
        font-size: 58px;
        font-weight: 500;
    }
    .RO__services-content_cats-DataAnalysis_title h2,
    .RO__services-content_cats-WebDev_title h2,
    .RO__services-content_cats-BS_title h2{
        font-size: 34px;
        line-height: 40px;
    }
    .RO__services-content_cats-DataAnalysis_content p,
    .RO__services-content_cats-WebDev_content p,
    .RO__services-content_cats-BS_content p{
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width: 580px){
    .RO__services{
        top: 128rem;
    }
}

@media screen and (max-width: 450px){
    .RO__services{
        top: 135rem;
    }
    .RO__services-title{
        display: flex;
        justify-content: center;
    }
    .RO__services-title h1{
        font-size: 45px;
        line-height: 45px;
    }
    .RO__services-content_cats-DataAnalysis_title h2,
    .RO__services-content_cats-WebDev_title h2,
    .RO__services-content_cats-BS_title h2{
        font-size: 28px;
        line-height: 32px;
    }
    .RO__services-content_cats-DataAnalysis_content p,
    .RO__services-content_cats-WebDev_content p,
    .RO__services-content_cats-BS_content p{
        font-size: 18px;
        line-height: 24px;
    }
}