.RO__services{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    padding: 3rem;
    padding-top: 12rem;
}

.RO__services-title{
    width: 100%;
    margin: 3rem;
    padding-left: 20%;
}

.RO__services-title h1{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
}

.RO__services-content{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 980px;
    margin-left: 10%;
    margin-right: 10%;
}

.RO__services-content_cats{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 42.5%;
}

.RO__services-content_cats-DataAnalysis,
.RO__services-content_cats-WebDev,
.RO__services-content_cats-BS{
    margin-bottom: 3rem;
}

.RO__services-content_cats-DataAnalysis_title,
.RO__services-content_cats-WebDev_title,
.RO__services-content_cats-BS_title{
    margin-bottom: 2rem;
} 

.RO__services-content_cats-DataAnalysis_title h2,
.RO__services-content_cats-WebDev_title h2,
.RO__services-content_cats-BS_title h2{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
} 

.RO__services-content_cats-DataAnalysis_content p,
.RO__services-content_cats-WebDev_content p,
.RO__services-content_cats-BS_content p{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    text-justify: inter-word;
}

.RO__services-content_cats-DataAnalysis_bar,
.RO__services-content_cat-WebDev_bar,
.RO__services-content_cats-BS_bar{
    width: 100%;
    height: 0px;
    border: 3px solid #A39E9E;
    margin-top: 33px;
}

.RO__services-content_img{
    align-self: center;
}

/* --------------------------------Cards--------------------------- */
:root {
    --border: rgb(3, 169, 244);
    
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --g3: rgb(253, 216, 53);
  }

.RO__services-card{
    aspect-ratio: 1/1.6;
    border: 0.5vmin solid var(--border);
    cursor: pointer;
    position: relative;
    width: 56vmin;
}

.RO__services-card:hover::before{
    background-position: 100% 100%;
    transform: scale(1.08, 1.03);
}

.RO__services-card:hover > .RO__services-card_content{
    background-position: -10% 0%;
}


.RO__services-card:hover > 
.RO__services-card_content >
.RO__services-card_content-subtitles >
.RO__services-card_content-subtitles_word{
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, 
                transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.RO__services-card::before{
    background: linear-gradient(
                                130deg, 
                                transparent 0% 33%, 
                                var(--g1) 66%,
                                var(--g2) 83.5%,
                                var(--g3) 100%
                                );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    transition: background-position 350ms ease, transform 350ms ease;
    z-index: 1;
}

.RO__services-card_content{
    background: radial-gradient(rgba(0, 0, 0, 0.2) 8%, transparent 8%);
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height: calc(100% - 10vmin);
    padding: 5vmin;
    position: relative;
    transition: background-position 350ms ease;
    width: 100%;
    z-index: 2;
}

.RO__services-card_content-title,
.RO__services-card_content-subtitles{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0px;
    transition: color 250ms ease;
}
.RO__services-card_content-title{
    font-size: 6vmin;
}
.RO__services-card_content-subtitles{
    font-size: 3vmin;
    margin-top: 2vmin;
}

.RO__services-card:hover >
.RO__services-card_content>
.RO__services-card_content-title,
.RO__services-card:hover >
.RO__services-card_content>
.RO__services-card_content-subtitles{
    color: white;
}

.RO__services-card_content-subtitles_word{
    display: inline-block;
    margin: 0vmin 0.3vmin;
    opacity: 0;
    position: relative;
    transform: translateY(40%);
    transition: none;
}

/*------------------------------------------------------------------*/

@media screen and (max-width: 1300px){
    .RO__services-content_img{
        display: none;
    }
    .RO__services-content_cats{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .RO__services{
        top: 130rem;
    }
    .RO__services-title{
        margin-bottom: 1.5rem;
    }
    .RO__services-title h1{
        font-size: 58px;
        font-weight: 500;
    }
    .RO__services-content_cats-DataAnalysis_title h2,
    .RO__services-content_cats-WebDev_title h2,
    .RO__services-content_cats-BS_title h2{
        font-size: 34px;
        line-height: 40px;
    }
    .RO__services-content_cats-DataAnalysis_content p,
    .RO__services-content_cats-WebDev_content p,
    .RO__services-content_cats-BS_content p{
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width: 580px){
    .RO__services{
        top: 128rem;
    }
}

@media screen and (max-width: 450px){
    .RO__services{
        top: 135rem;
    }
    .RO__services-title{
        display: flex;
        justify-content: center;
    }
    .RO__services-title h1{
        font-size: 45px;
        line-height: 45px;
    }
    .RO__services-content_cats-DataAnalysis_title h2,
    .RO__services-content_cats-WebDev_title h2,
    .RO__services-content_cats-BS_title h2{
        font-size: 28px;
        line-height: 32px;
    }
    .RO__services-content_cats-DataAnalysis_content p,
    .RO__services-content_cats-WebDev_content p,
    .RO__services-content_cats-BS_content p{
        font-size: 18px;
        line-height: 24px;
    }
}