
.RO__about{
    /* display: inline; */
    width: 100%;
    position: relative;
    z-index: 1;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    background: #176468;
    opacity: 0.75;
}

/* --------------SKEW BACKGROUND-------------- */

.RO__about::before{
    content: '';
    display: block;
    height: 125%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -15rem;
    left: 0;
    background: inherit;
    transform: skew(0, -6deg);
    transform-origin: top left;
}

.RO__about::after{
    content: '';
    display: block;
    height: 125%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -15rem;
    left: 0;
    background: inherit;
    transform: skew(0, -6deg);
    transform-origin: bottom right;
}
/* ------------------------------------------------------------------- */

.RO__about-title{
    align-items: center;
    margin: 3vmin;
    padding-left: 20%;
    position: relative;
}

.RO__about-title h1{
    font-family: "Montserrat";
    font-size: 9vmin;
    font-weight: 400;
    line-height: 78px;
    color: #34b4bb;
}

.RO__about-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 60vh;
    width: 100%;
    padding-left: 20%;
    padding-right: 10%;
}

.RO__about-content_p{
    width: 400px;
    height: auto;
    margin-top: 4vmin;
}

.RO__about-content_p p{
    font-family: "Montserrat";
    font-size: 2vmin;
    font-weight: 300;
    line-height: 28px;
    color: #cac1c1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

/* ---------------------------------Parallax Effect---------------------------- */

.RO__about-content_icons{
    display: flex;
    height: 100%;
    width: 50%;
}

.RO__about-content_icons-wrapper:nth-child(1){
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    left: 80%;
    height: 20vh;
}
.RO__about-content_icons-wrapper:nth-child(1)
 > 
.RO__about-content_icons-triangle{
    fill: #34b4bb;
    height: 60%;
    width: 60%;
}
.RO__about-content_icons-wrapper:nth-child(1)
>
.RO__about-content_icons-roundrect{
    position: absolute;
    top: 40%;
    height: 20%;
    width: 15%;
    border-radius: 40px;
    background-color: white;
}


.RO__about-content_icons-wrapper:nth-child(2){
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    right: 10%;
    top: 20%;
    height: 20vh;
}
.RO__about-content_icons-wrapper:nth-child(2)
 > 
.RO__about-content_icons-triangle{
    fill: #34b4bb;
    height: 60%;
    width: 60%;
}
.RO__about-content_icons-wrapper:nth-child(2)
>
.RO__about-content_icons-roundrect{
    position: absolute;
    top: 40%;
    height: 20%;
    width: 15%;
    border-radius: 40px;
    background-color: #ffffff;
}


.RO__about-content_icons-wrapper:nth-child(3){
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    left: 20%;
    top: 50%;
    height: 20vh;
}
.RO__about-content_icons-wrapper:nth-child(3)
 > 
.RO__about-content_icons-triangle{
    fill: #34b4bb;
    height: 60%;
    width: 60%;
}
.RO__about-content_icons-wrapper:nth-child(3)
>
.RO__about-content_icons-roundrect{
    position: absolute;
    top: 40%;
    height: 20%;
    width: 15%;
    border-radius: 40px;
    background-color: #fff;
}


.RO__about-content_icons-wrapper:nth-child(4){
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    right: 20%;
    top: 60%;
    height: 20vh;
}
.RO__about-content_icons-wrapper:nth-child(4)
 > 
.RO__about-content_icons-triangle{
    fill: #34b4bb;
    height: 60%;
    width: 60%;
}
.RO__about-content_icons-wrapper:nth-child(4)
>
.RO__about-content_icons-roundrect{
    position: absolute;
    top: 40%;
    height: 20%;
    width: 15%;
    border-radius: 40px;
    background-color: #fff;
}
/* -------------------------------------------------------------------------------- */
.RO__about-more{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    margin-top: 6rem;
    justify-content: space-around;
    width: 500px;
    height: 180px;
    padding: 3rem;
    background-color: #1f8186;
}

.RO__about-more_quote{
    position: relative;
    margin-bottom: 1vmin;
}

.RO__about-more_quote p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 2vmin;
    line-height: 34px;
    color: #cac1c1;
    display: flex;
    align-items: center;
    text-align: center;
}

.RO__about-more_button{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.RO__about-more_button button,
.RO__about-more_button a {
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 2vmin;
    border: 0;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    color: #cac1c1;
    background-color: #333;
    cursor: pointer;
}

@media screen and (max-width: 1630px){
    
    .RO__about-content_p{
        width: 420px;
        height: auto;
    }
}

@media screen and (max-width: 580px){
    .RO__about{
        padding: 6vmin;
    }
    .RO__about-title{
        display: flex;
        padding: 0;
        justify-content: center;
    }
    .RO__about-content{
        display: flex;
        justify-content: center;
        padding: 0%;
        padding-left: 6vmin;
        padding-right: 6vmin;
    }
    .RO__about-content_p p{
        font-size: 3vmin;
    }
   .RO__about-content_icons{
        display: none;
   }
   .RO__about-more_quote p{
        font-size: 3vmin;
   }
   .RO__about-more_button button,
   .RO__about-more_button a{
        width: 35vmin;
        height: 12vmin;
        font-size: 3vmin;
   }
   .RO__about-more{
        padding: 2vmin;
        width: 80vmin;
        height: 40vmin;
   }
}

@media screen and (max-width: 450px){
    
    .RO__about::after{
        height: 140%;
    }
    .RO__about-more{
        margin-top: 6vmin;
    }
}

@media screen and (max-width: 390px){
    
}
