.RO__contact {
    position: absolute;
    display: grid;
    top: 300rem;
    place-items: center;
    height: 300px;
    width: 100vw;
    padding: 2%;
}

.RO__contact-content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    background-color: #F5F5F5;
}

.RO__contact-content_text {
    display: flex;
    align-self: center;
    margin-left: 2rem;
    height: 80%;
    width: 40%;
}
.RO__contact-content_text p {
    align-self: center;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 34px;
    line-height: 42px;
}

.RO__contact-content_shape {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-right: 1rem;
    height: 80%;
    width: 30%;
    background-color: #FF4C4C;
}

.RO__contact-content_shape-title {
    display: flex;
    height: 30%;
    width: 80%;
    margin-top: 5%;
}
.RO__contact-content_shape-title p {
    align-self: center;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
    color: #ffffff;
}
.RO__contact-content_shape-text {
    display: flex;
    height: 30%;
    width: 80%;
}
.RO__contact-content_shape-text p {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 100%;
    line-height: 20px;
    color: #ffffff;
}

.RO__contact-content_shape-button {
    display: flex;
    align-items: center;
    width: 80%;
    height: 20%;
}

.RO__contact-content_shape-button button {
    font-family: "Montserrat";
    font-size: 110%;
    background-color: #000;
    color: #ffffff;
    border: none;
    height: 90%;
    width: 60%;
    border-radius: 30px;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .RO__contact{
        top: 285rem;
    }
}
@media screen and (max-width: 880px) {
    .RO__contact{
        top: 280rem;
    }
    .RO__contact-content_shape-title p{
        font-size: 28px;
    }
    .RO__contact-content_shape-text p {
        font-size: 90%;
    }
    .RO__contact-content_shape-button button {
        font-size: 90%;
    }
}
@media screen and (max-width: 740px) {
    .RO__contact{
        top: 280rem;
    }
    .RO__contact-content_shape-title {
        height: 25%;
        margin-top: 10%;
    }
    .RO__contact-content_shape-title p{
        font-size: 24px;
        line-height: 30px;
    }
    .RO__contact-content_shape-text {
        height: 40%;
    }
    .RO__contact-content_shape-text p {
        font-size: 80%;
    }
    .RO__contact-content_shape-button button {
        font-size: 80%;
        width: 65%;
    }
}

@media screen and (max-width: 560px) {
    .RO__contact-content{
        flex-direction: column;
        width: 90%;
    }
    .RO__contact-content_text{
        width: 80%;
        margin-left: 0;
    }
    .RO__contact-content_shape{
        width: 80%;
        margin-right: 0;
    }
    .RO__contact-content_shape-title{
        margin-top: 2.5%;
    }
    .RO__contact-content_shape-title p{
        font-size: 28px;
        line-height: 30px;
    }
    .RO__contact-content_shape-text p {
        font-size: 100%;
    }
    .RO__contact-content_shape-button button {
        font-size: 90%;
        height: 35px;
        width: 100px;
    }
}

@media screen and (max-width: 380px) {
    .RO__contact-content{
        flex-direction: column;
        width: 90%;
    }
    .RO__contact-content_text p{
        font-size: 26px;
        line-height: 32px;
    }
    .RO__contact-content_shape-title p{
        font-size: 26px;
        line-height: 30px;
    }
    .RO__contact-content_shape-text p {
        font-size: 90%;
    }
    .RO__contact-content_shape-button button {
        font-size: 85%;
        height: 35px;
        width: 100px;
    }
}