.RO__ContactForm{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.RO__ContactForm-title{
    width: 100vw;
    padding-top: 4rem;
    padding-left: 20vw;
    padding-right: 15rem;
    padding-bottom: 4rem;
}

.RO__ContactForm-title h1{
    font-family: 'Montserrat';
    font-size: 64px;
    font-weight: 500;
    line-height: 68px;
}

.RO__ContactForm-title h3{
    font-family: 'Montserrat';
    font-size: 35px;
    line-height: 56px;
    font-weight: 400;
}
.RO__ContactForm-content {
    display: flex;
    padding: 2rem;
    padding-left: 19vw;
    padding-right: 20vw;
    justify-content: space-between;
    width: 100vw;
}

.RO__ContactForm-content_description{
    width: 410px;
    padding: 2rem;
}

.RO__ContactForm-content_description p{
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
}

.RO__ContactForm-content_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    width: 540px;
    height: 680px;
    flex-direction: column;
    background-color: #00ffff;
}

.RO__ContactForm-content_form_name,
.RO__ContactForm-content_form_email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 20%;
}

.RO__ContactForm-content_form_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 40%;
}

.RO__ContactForm-content_form_info textarea {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
    width: 100%;
    height: 70%;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0 0 0 10px;
    resize: none;
    background-color: transparent;
}

.RO__ContactForm-content_form_email input,
.RO__ContactForm-content_form_name input {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
    width: 100%;
    height: 70%;
    padding-left: 1rem;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0 0 0 10px;
    resize: none;
    background-color: transparent;
}

.RO__ContactForm-content_form_email input:focus,
.RO__ContactForm-content_form_name input:focus,
.RO__ContactForm-content_form_info textarea:focus {
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
    opacity: 0.8;
    box-shadow: 0 0 0 2px #FF4C4C;
}

.RO__ContactForm-content_form_nameTitle h5,
.RO__ContactForm-content_form_emailTitle h5,
.RO__ContactForm-content_form_infoTitle h5 {
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
}

.RO__ContactForm-content_form_button{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 10%;
}

.RO__ContactForm-content_form_button button {
    font-family: 'Montserrat';
    width: 45%;
    height: 100%;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: black;
    cursor: pointer;
}

.RO__ContactForm-footer{
    margin-top: 12vmin;
    position: relative;
    width: 100%;
}

@media  screen and (max-width: 1300px){
    .RO__ContactForm-title{
        padding-right: 10rem;
        padding-left: 12vw;
    }
    .RO__ContactForm-content{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .RO__ContactForm-content_description{
        width: 35%;
    }
    .RO__ContactForm-content_description p{
        font-size: 16px;
        line-height: 26px;
    }
    .RO__ContactForm-content_form{
        width: 60%;
    }
}

@media  screen and (max-width: 900px){
    .RO__ContactForm-title{
        padding-right: 6rem;
        padding-left: 2rem;
    }
    .RO__ContactForm-content{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .RO__ContactForm-content_description{
        padding-right: 1rem;
        padding-left: 0;
    }
}

@media  screen and (max-width: 700px){
    
    .RO__ContactForm-title{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 2rem;
    }
    .RO__ContactForm-title h1{
        font-size: 44px;
        line-height: 52px;
    }
    .RO__ContactForm-title h3{
        font-size: 20px;
        line-height: 34px;
    }
    .RO__ContactForm-content{
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    .RO__ContactForm-content_description{
        width: 100%;
        padding: 2rem;
        padding-top: 0;
    }
    .RO__ContactForm-content_form{
        width: 90%;
        padding: 2rem;
    }
}

@media screen and (max-width:400px){
    .RO__ContactForm-title{ 
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    .RO__ContactForm-title h1{
        font-size: 36px;
        line-height: 42px;
    }
    .RO__ContactForm-content_description{
        padding-top: 0;
    }
    .RO__ContactForm-content_description p{
        font-size: 14px;
        line-height: 22px;
    }
    .RO__ContactForm-content_form_nameTitle h5,
    .RO__ContactForm-content_form_emailTitle h5,
    .RO__ContactForm-content_form_infoTitle h5,
    .RO__ContactForm-content_form_name input,
    .RO__ContactForm-content_form_email input,
    .RO__ContactForm-content_form_button button{
        font-size: 14px;
        line-height: 26px;
    }

}