.RO__header {
    display: none !important;
    position: relative;
    top: 12rem;
    z-index: 1;
}

.RO__header-content {
    align-items: flex-start;
    margin-right: 30%;
    margin-bottom: 3rem;
}

.RO__header-content h1 {
    font-family: "Montserrat";
    font-size: 96px;
    font-weight: 700;
    line-height: 117px;
    color: #000000;
}


.content_text-effect{
    font-family: "Montserrat";
    font-size: 96px;
    font-weight: 700;
    line-height: 117px;
    color: #CB4242;
}

/* -------------------------------NEW HEADER-------------------------- */
.RO__Parallax{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.RO__Parallax_background{
    display: flex;
    position: absolute;
    height: 70vh;
    width: 55vw;
    border: 12px solid #333;
}

.RO__Parallax_foreground{
    display: flex;
    position: relative;
    height: 75vmin;
    width: 70vmin;
}

.RO__Parallax_foreground-title{
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 20vmin;
    height: 100%;
    width: 30vmin;
}

.RO__Parallax_foreground-title h1{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16vmin;
    z-index: 3;
    color: #fff;
}

.RO__Overlap{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 80vmin;
    z-index: 3;
}

.RO__Overlap-Circle{
    display: flex;
    position: relative;
    height: 35vmin;
    width: 35vmin;
}

.RO__Overlap-circleRings{
    position: relative;
    height: 35vmin;
    width: 35vmin;
}

/* -------------------------------------------------------------- */


@media screen and (max-width: 1630px){
    .RO__header-content h1{
        font-size: 82px;
        line-height: 100px;
    }
    .content_text-effect{
        font-size: 82px;
        font-weight: 600;
        line-height: 100px;
    }
}
@media screen and (max-width: 1050px){
    .RO__header-content{
        margin-right: 23%;
        margin-top: 0.5rem;
    }
    .RO__header-content h1{
        font-size: 70px;
        font-weight: 600;
        line-height: 80px;
    }
    .content_text-effect{
        font-size: 70px;
        font-weight: 600;
        line-height: 80px;
    }
}

@media screen and (max-width: 800px){
    .RO__header{
        top: 9rem;
    }

    .RO__header-content{
        margin-right: 25%;
    }
    .RO__header-content h1{
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
    }
    .content_text-effect{
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
    }
}

@media screen and (max-width: 450px){
    .RO__header-content{
        margin-right: 25%;
        margin-top: 0.5rem;
    }
    .RO__header-content h1{
        font-size: 45px;
        font-weight: 600;
        line-height: 45px;
    }
    .content_text-effect{
        font-size: 45px;
        font-weight: 600;
        line-height: 45px;
    }
}