.RO__footer {
    display: flex;
    position: relative;
    flex-direction: column;
    aspect-ratio: 1.623;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 330px;
    margin-top: 20vmin;
    background-color: #11171d;
}
.RO__footer-content_maps {
    display: flex;
}
.RO__footer-content_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.RO__footer-content_logo img {
    width: 10%;
}
.RO__footer-content_logo h1{
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 32px;
    color: #fff;
    margin-top: 1%;
}

.RO__footer-content_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    width: 35%;
}

.RO__footer-content_links p {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 21px;
    color: #fff;
}

.RO__footer-content_links-bar{
    height: 35px;
    width: 0;
    border: 1px solid #fff;
}

@media screen and (max-width: 900px){
    .RO__footer{
        height: 315px;
    }
    .RO__footer-content_links{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .RO__footer{
        height: 290px;
    }
    .RO__footer-content_logo h1{
        font-size: 26px;
    }
    .RO__footer-content_links p{
        font-size: 18px;
    }
}

@media screen and (max-width: 500px){
    .RO__footer{
        height: 275px;
    }
    .RO__footer-content_links{
        width: 60%;
    }
    .RO__footer-content_logo img {
        width: 14%;
    }
}

@media screen and (max-width: 400px){
    .RO__footer{
        height: 275px;
        margin-top: 35vmin;
    }
    .RO__footer-content_links{
        width: 75%;
    }
    .RO__footer-content_logo img {
        width: 15%;
    }
}